body {
    background-color:rgb(25, 31, 44);
    font-family: 'Source Sans Pro';
    width: 1200px;
    display: block;
    margin: auto;
}

.logo {
    color: white;
    font-size: 80px;
    margin: 50px;
}

.main {
    align-items: center;
    background-color: #09101a;
    padding : 6px;
    border-radius: 10px;
}

a {
    text-decoration : none;
    color : white;
}

.menu {
    list-style: none;
    column-count: 4;
    padding-left: 0;
    font-size: 24px;
}

.menu li {
    text-align: center;
}

.menu li:hover {
    background-color: #d49466;
    border-radius: 10px;
}

.login {
    text-align: center;
    margin-top: 100px;
}

.login input {
    padding: 8px;
    margin: 10px;
}