body {
    background-color: #263343;
    font-family: 'Source Sans Pro';
}

main {
    display: flex;
    align-items: center;
}

a {
    text-decoration : none;
    color : white;
}

.logo {
    color: white;
    text-align: center;
    font-size: 80px;
    margin: 50px;
}

.menu {
    list-style: none;
    column-count: 4;
    padding-left: 0;
    font-size: 24px;
}

.menu li {
    text-align: center;
}

.menu li:hover {
    background-color: #d49466;
    border-radius: 10px;
}