:root {
    --text-color: #414141;
    --background-color: #F5EFE8;
    --accent-color: #d6af7b;
}

body {
    background-color: white;
    font-family: 'Fraunces';
    display: block;
    margin: auto;
}

.menubar {
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding : 8px 12px;
}

a {
    text-decoration : none;
    color : var(--text-color);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent-color);
}

.logo a:hover{
    color:var(--accent-color);
}

.menu {
    display : flex;
    list-style: none;
    padding-left: 0;
}

.menu li {
    padding : 8px 12px;
    font-size: 16px;
}

.menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.toggle {
    font-size: 24px;
    color: var(--accent-color);
}

.member {
    display: none;
    text-align: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    list-style: none;
    margin: auto;
}

.member i {
    color: var(--text-color);
    font-size: 16px;
    padding: 4px;
}

.member li {
    font-size: 20px;
    align-items: center;
    width : 100%
}

.member li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.member.active {
    display: flex;
}

.intro_menu {
    list-style:none;
    margin:0;
    padding:0;
}
.intro_menu li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0px;
    overflow: hidden;
    }
.intro_menu img {
    margin:0;
    padding:0;
    float:left;
    z-index:5;
    display: block;
    vertical-align: top;
}
.intro_menu .caption {
    position: absolute;
    top:200px;
    width:482px;
    height:1080px;
    padding-top:20px;
    background:rgba(252, 252, 252, 0.4);
    opacity:0;
    z-index:10;
}
.intro_menu li:hover .caption {
    opacity: 1;
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
}

.detail {
    text-align: center;
}

.detail a {
    display: inline-block;
    font-size: 25px;
}

.detail p {
    display: block;
    font-size: 16px;
}

.tail {
    text-align: center;
    font-size: 12px;
    background-color: var(--background-color);
    padding: 10px;
}