:root {
    --text-color: #414141;
    --background-color: #F5EFE8;
    --accent-color: #d6af7b;
}

body {
    background-color: white;
    font-family: 'Fraunces';
    display: block;
    margin: auto;
}

.menubar {
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding : 8px 12px;
}

a {
    text-decoration : none;
    color : var(--text-color);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent-color);
}

.logo a:hover{
    color:var(--accent-color);
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li {
    padding : 8px 12px;
    font-size: 16px;
}

.menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.toggle {
    font-size: 24px;
    color: var(--accent-color);
}

.member {
    display: none;
    text-align: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    list-style: none;
    margin: auto;
}

.member i {
    color: var(--text-color);
    font-size: 16px;
    padding: 4px;
}

.member li {
    font-size: 20px;
    align-items: center;
    width : 100%
}

.member li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.member.active {
    display: flex;
}

.register {
    list-style: none;
    padding-top: 100px;
    align-items: center;
    text-align: center;
}

.register h4 {
    font-size: large;
}

.register li input {
    padding: 6px;
    margin: 4px;
}

.register input {
    padding: 6px;
    margin: 30px;
}